@tailwind base;
@tailwind components;
@tailwind utilities;

math-field {
  @apply border border-black bg-white p-3 outline-none focus-within:border-violet-400;
}
html,
body,
#root {
  @apply h-full w-full;
}

.btn {
  @apply w-max rounded-sm border border-violet-400 bg-white px-4 py-2 outline-none transition-colors hover:bg-violet-400 hover:text-white focus:bg-violet-400 focus:text-white;
}

.card {
  @apply rounded-md bg-white p-3 shadow-md;
}
